name: CI

on:
  push:
    branches:
      - main
      - develop
  pull_request:

jobs:
  frontend:
    name: Frontend CI
    uses: ./.github/workflows/frontend-ci.yml

  backend:
    name: Backend CI
    uses: ./.github/workflows/backend-ci.yml
